services:
  tartan_rgbt:
    container_name: tartan_rgbt
    image: zed_ros2_l4t_36.4.0_sdk_5.0.0:latest  # Replace with your image tag
    runtime: nvidia
    privileged: true
    network_mode: host
    ipc: host
    pid: host
    environment:
      - NVIDIA_DRIVER_CAPABILITIES=all
      - DISPLAY=${DISPLAY}
      - ROS_DOMAIN_ID=70
      - RMW_FASTRTPS_USE_QOS_FROM_XML=0
      - FASTDDS_DEFAULT_PROFILES_FILE=/root/tartan_rgbt_ws/src/bag_recorder_pid/config/fastdds_optimized_qos.xml
      - RMW_FASTRTPS_PUBLICATION_MODE=ASYNCHRONOUS
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
    restart: unless-stopped
    volumes:
      - /tmp:/tmp
      - /dev:/dev
      - /sys:/sys
      - /var/nvidia/nvcam/settings/:/var/nvidia/nvcam/settings/
      - /etc/systemd/system/zed_x_daemon.service:/etc/systemd/system/zed_x_daemon.service
      - /usr/local/zed/resources/:/usr/local/zed/resources/
      - /usr/local/zed/settings/:/usr/local/zed/settings/
      - /home/airlab/code/tartan_rgbt_ws/:/root/tartan_rgbt_ws/
      # - /home/airlab/code/zed-ros2-wrapper/zed_components:/root/ros2_ws/src/zed_components
      # - /home/airlab/code/zed-ros2-wrapper/zed_ros2:/root/ros2_ws/src/zed_ros2
      # - /home/airlab/code/zed-ros2-wrapper/zed_wrapper:/root/ros2_ws/src/zed_wrapper
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /media/share/:/media/share
      - /logging:/logging
      # - /home/airlab/code/zed-ros2-wrapper/docker/tmux_config.yaml:/root/tmux_config.yaml
    stdin_open: true   # equivalent to -it
    tty: true          # equivalent to -it
